<script>
export default {
  name: 'ObservabilityUsageQuotaApp',
  inject: {
    apiConfig: {
      type: Object,
      required: true,
    },
  },
};
</script>

<template>
  <section>
    {{
      // eslint-disable-next-line @gitlab/vue-require-i18n-strings
      'TBD'
    }}
  </section>
</template>
