- items = []
- items << s_('DuoProTrial|Code completion and code generation with Code Suggestions')
- items << s_('DuoProTrial|Organizational controls')
- items << s_('DuoProTrial|Chat')
- items << s_('DuoProTrial|Code explanation')
- items << s_('DuoProTrial|Code refactorization')
- items << s_('DuoProTrial|Test generation')


.advantages-text.gl-m-7.gl-max-w-48
  = s_('DuoProTrial|GitLab Duo Pro is designed to make teams more efficient throughout the software development lifecycle with:')

  - items.each do |item|
    .gl-display-flex.gl-align-items-start.gl-gap-3.gl-pt-6
      .gl-flex-shrink-0
        = sprite_icon('check-circle')
      = item

  .gl-pt-6
    = s_('DuoProTrial|GitLab Duo Pro is only available for purchase for Premium and Ultimate users.')
